[include bed_mesh.cfg]
[include display_menu.cfg]
[include display.cfg]
[include fan.cfg]
[include filament.cfg]
[include heater.cfg]
[include homing_qgl.cfg]
[include lighting.cfg]
[include macro_basic.cfg]
[include macro_printing.cfg]
#[include mainsail.cfg]
[include position.cfg]
[include printplate.cfg]
[include stepper.cfg]
[include tmc.cfg]

####################################################################################################
#  MCU CAN Settings
####################################################################################################
[mcu]
canbus_uuid: bf150d0cd8b7
[mcu EBBCan]
canbus_uuid: 79a981598962

####################################################################################################
#  Printer Limits
####################################################################################################
[printer]
kinematics: corexy
max_velocity: 350
max_accel: 3500
max_accel_to_decel: 3000
max_z_velocity: 30
max_z_accel: 350
square_corner_velocity: 5.0


####################################################################################################
#  Activate some modules
####################################################################################################
[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]

[display_status]

[respond]

[exclude_object]


####################################################################################################
#  File location of stored varibales
####################################################################################################
[save_variables]
filename: /home/pi/printer_data/config/.variables.stb


####################################################################################################
#  Idle Timeout
####################################################################################################
[idle_timeout]
timeout: 1800
gcode:
  {% if printer.webhooks.state|lower == 'ready' %}
    {% if printer.pause_resume.is_paused|lower == 'false' %}
      {action_respond_info("POWER: Execute Idle Timeout")}
      PERIPH_RESET STEPPER_OFF=1
    {% endif %}
  {% endif %}

####################################################################################################
#  Macro that run at klipper start
####################################################################################################
[delayed_gcode _INIT]
initial_duration: 1
gcode:
  _GLOBAL_VARIABLE
  _EXECUTE_AT_INIT


###################################################################################################
#  Execute at start
###################################################################################################
[gcode_macro _EXECUTE_AT_INIT]
description: Helper: Everything that should run at klipper start
gcode:
  SDCARD_RESET_FILE
  PERIPH_RESET
  {action_respond_info("********** Klipper INIT done **********")}


####################################################################################################
#  Turn off all periphery
####################################################################################################
[gcode_macro PERIPH_RESET]
gcode:
  ### Input parameter ##############################################################################
  {% set p_stepper_off = params.STEPPER_OFF|default(0)|int %}
  ##################################################################################################

  {% if p_stepper_off !=0 %}
    M84                               # turn steppers off
  {% endif %}

  TURN_OFF_HEATERS                    # turn bed / hotend off
  M107                                # turn print cooling fan off
  _SET_EXHAUST S=0                    # turn exhaust fan off
  _SET_VENT S=0                       # bed fan off
  #SET_PIN PIN=caselight VALUE=0      # turn case light off


####################################################################################################
#  Shutdown the printer
####################################################################################################
[gcode_macro PRINTER_OFF]
description: Park head and Power down the rPi
gcode:
  M117 PI Off in 5 sec
  G4 P5000
  M400
  PERIPH_RESET
  {action_respond_info('action:poweroff')}
  {action_call_remote_method("shutdown_machine")}


####################################################################################################
#  User Variable
####################################################################################################
[gcode_macro _GLOBAL_VARIABLE]
description: Helper: Contains User defined printer variables
variable_speed: {}
variable_pos: {}
variable_move: {}
variable_accel: {}
variable_current: {}
variable_unload_sd: False
gcode:
  #  Speed Variable
  ###################################################################################################
  {% set user_speed_homing = [100, 100, 20] %}
  {% set user_speed_travel = [200, 200, 25] %}
  {% set user_speed_zhop = 15 %}
  {% set user_speed_pos = 100 %}
  {% set user_speed_unload = 10 %}
  {% set user_speed_wipe = 50 %}
  {% set user_speed_prime = 30 %}

  # prepare dictonaries
  {% set speed_dic = {'homing':        {'x': (user_speed_homing[0] * 60),
                                        'y': (user_speed_homing[1] * 60),
                                        'z': (user_speed_homing[2] * 60)},
                      'travel':        {'x': (user_speed_travel[0] * 60),
                                        'y': (user_speed_travel[1] * 60),
                                        'z': (user_speed_travel[2] * 60)},
                      'zhop':                (user_speed_zhop * 60),
                      'pos':                 (user_speed_pos * 60),
                      'unload':              (user_speed_unload * 60),
                      'wipe':                (user_speed_wipe * 60),
                      'prime':               (user_speed_prime * 60)}
  %}
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARIABLE VARIABLE=speed VALUE="{speed_dic}"


  #  Position Variable
  ###################################################################################################
  {% set user_pos_homing =  [175, 155] %}
  {% set user_pos_home =    [175, 175, 20] %}
  {% set user_pos_tray =    [45, 351, 7] %}
  {% set user_pos_wipe =    [75, 347, 1] %}
  {% set user_pos_prime =   [3, 5, 0.5] %}
  {% set user_pos_park =    [175, 300, 120] %}

  # prepare dictonaries
  {% set pos_dic = {'homing': {'x': user_pos_homing[0],
                               'y': user_pos_homing[1]},
                    'home':   {'x': user_pos_home[0],
                               'y': user_pos_home[1],
                               'z': user_pos_home[2]},
                    'tray':   {'x': user_pos_tray[0],
                               'y': user_pos_tray[1],
                               'z': user_pos_tray[2]},
                    'wipe':   {'x': user_pos_wipe[0],
                               'y': user_pos_wipe[1],
                               'z': user_pos_wipe[2]},
                    'prime':  {'x': user_pos_prime[0],
                               'y': user_pos_prime[1],
                               'z': user_pos_prime[2]},
                    'park':   {'x': user_pos_park[0],
                               'y': user_pos_park[1],
                               'z': user_pos_park[2]}}
  %}
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARIABLE VARIABLE=pos VALUE="{pos_dic}"


  #  Move Variable
  ###################################################################################################
  {% set user_move_unload = 50 %}
  {% set user_move_zhop = 10 %}
  {% set user_move_wipe = [50, 4] %}
  {% set user_move_prime = [2, 150] %}


  # prepare dictonaries
  {% set move_dic = {'unload':    user_move_unload,
                     'zhop':      user_move_zhop,
                     'wipe':      {'x': user_move_wipe[0],
                                   'y': user_move_wipe[1]},
                     'prime':      {'x': user_move_prime[0],
                                   'y': user_move_prime[1]}}
  %}
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARIABLE VARIABLE=move VALUE="{move_dic}"



  #  Accel Variable
  ###################################################################################################
  {% set user_accel_homing = 1000 %}

  # prepare dictonaries
  {% set accel_dic = {'homing': user_accel_homing}
  %}
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARIABLE VARIABLE=accel VALUE="{accel_dic}"


  #  Motor Current Variable
  ###################################################################################################
  {% set user_current_homing = [1, 1, 1]  %}

  # prepare dictonaries
  {% set current_dic = {'homing': {'x': user_current_homing[0],
                                   'y': user_current_homing[1],
                                   'z': user_current_homing[2]}}
  %}
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARIABLE VARIABLE=current VALUE="{current_dic}"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.489
#*# pid_ki = 1.326
#*# pid_kd = 79.138
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 48.178
#*# pid_ki = 1.746
#*# pid_kd = 332.425
#*#
#*# [beacon model default]
#*# model_coef = 1.428777656061476,
#*# 	  1.7426998965227276,
#*# 	  0.7531125136947916,
#*# 	  0.4064895403811908,
#*# 	  0.4056682842832489,
#*# 	  0.24486610166315922,
#*# 	  -0.2658736607107863,
#*# 	  -0.1314025309573685,
#*# 	  0.2785295089301663,
#*# 	  0.13849361533008586
#*# model_domain = 3.1567973959610673e-07,3.338067859977307e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 26.488956
#*# model_offset = 0.29000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.040681, 0.033621, 0.040311, 0.055275, 0.065403, 0.062122, 0.055587, 0.045296, 0.052432
#*# 	0.027369, 0.024630, 0.034172, 0.042932, 0.052027, 0.048235, 0.044370, 0.032392, -0.009143
#*# 	0.010041, 0.005482, 0.016110, 0.028142, 0.040341, 0.037662, 0.035103, 0.024248, -0.014528
#*# 	-0.019892, -0.022730, -0.010027, 0.004351, 0.017401, 0.017283, 0.020277, 0.011556, -0.026109
#*# 	-0.024108, -0.030550, -0.018146, -0.005738, 0.009014, 0.008658, 0.011849, 0.002575, -0.030116
#*# 	0.004198, -0.002239, 0.010348, 0.022178, 0.032481, 0.033293, 0.036219, 0.024422, -0.005252
#*# 	0.025023, 0.017287, 0.025766, 0.033797, 0.047459, 0.047264, 0.047358, 0.039495, 0.012443
#*# 	0.040687, 0.029761, 0.035609, 0.043890, 0.054545, 0.053920, 0.058474, 0.047649, 0.024493
#*# 	0.052700, 0.042147, 0.046157, 0.052075, 0.058595, 0.056211, 0.059072, 0.053477, 0.037070
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 310.0
#*#
#*# [bed_mesh Bed-Temp-60]
#*# version = 1
#*# points =
#*# 	0.008105, 0.012717, 0.025813, 0.040233, 0.048579, 0.041884, 0.029520, 0.006599, 0.042202
#*# 	0.002331, 0.009466, 0.024211, 0.038582, 0.047581, 0.039989, 0.027696, 0.005747, -0.044232
#*# 	-0.010901, -0.008903, 0.011584, 0.026302, 0.040060, 0.034847, 0.024897, 0.003701, -0.040944
#*# 	-0.038295, -0.034876, -0.012506, 0.006411, 0.021725, 0.017090, 0.014269, -0.002788, -0.048004
#*# 	-0.038019, -0.035397, -0.016897, 0.001305, 0.015334, 0.014920, 0.010694, -0.005764, -0.048244
#*# 	-0.014080, -0.012637, 0.007644, 0.022318, 0.033239, 0.030737, 0.028958, 0.007613, -0.028430
#*# 	0.003564, 0.003464, 0.019638, 0.032544, 0.045005, 0.038173, 0.033339, 0.016656, -0.017993
#*# 	0.014086, 0.013623, 0.024937, 0.037455, 0.045459, 0.039263, 0.035812, 0.017711, -0.014076
#*# 	0.015865, 0.012100, 0.023559, 0.029429, 0.034828, 0.026153, 0.019725, 0.004615, -0.017475
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 310.0
#*#
#*# [bed_mesh Bed-Temp-45]
#*# version = 1
#*# points =
#*# 	0.025921, 0.022383, 0.032870, 0.044048, 0.052757, 0.048307, 0.039426, 0.022666, 0.048022
#*# 	0.014835, 0.015121, 0.026418, 0.036815, 0.048526, 0.043433, 0.035374, 0.019308, -0.021613
#*# 	-0.000720, -0.003001, 0.010878, 0.027311, 0.037196, 0.039025, 0.028184, 0.015792, -0.018807
#*# 	-0.025764, -0.027099, -0.009543, 0.006677, 0.021922, 0.020857, 0.020087, 0.010257, -0.022121
#*# 	-0.025783, -0.030313, -0.013855, 0.000426, 0.017109, 0.015210, 0.019031, 0.004067, -0.024888
#*# 	-0.001333, -0.006146, 0.009927, 0.022543, 0.033030, 0.035102, 0.033358, 0.025219, -0.009709
#*# 	0.016194, 0.010306, 0.022520, 0.033115, 0.046412, 0.042377, 0.040944, 0.034013, 0.003660
#*# 	0.028473, 0.022200, 0.032377, 0.036371, 0.050181, 0.043760, 0.043594, 0.031923, 0.006837
#*# 	0.041049, 0.070838, 0.034348, 0.038431, 0.045288, 0.037080, 0.032929, 0.023855, 0.010595
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 310.0
#*#
#*# [bed_mesh Bed-Temp-100]
#*# version = 1
#*# points =
#*# 	-0.033074, -0.020824, -0.001958, 0.016870, 0.024404, 0.014262, -0.002044, -0.029423, 0.010442
#*# 	-0.035232, -0.019866, 0.001376, 0.016785, 0.025571, 0.015970, 0.001390, -0.026249, -0.083605
#*# 	-0.046238, -0.035272, -0.012439, 0.007787, 0.019979, 0.012401, -0.001845, -0.028378, -0.080753
#*# 	-0.072226, -0.058902, -0.031838, -0.010108, 0.003833, -0.002070, -0.010561, -0.034190, -0.087913
#*# 	-0.070223, -0.059656, -0.033801, -0.014131, 0.000390, -0.005576, -0.012866, -0.039190, -0.086751
#*# 	-0.049958, -0.039362, -0.011549, 0.005583, 0.014813, 0.009288, 0.002288, -0.026231, -0.071855
#*# 	-0.036137, -0.028953, -0.006338, 0.008383, 0.019558, 0.010861, 0.001241, -0.019268, -0.065838
#*# 	-0.031814, -0.025504, -0.007786, 0.006382, 0.016443, 0.006791, -0.002139, -0.028412, -0.070921
#*# 	-0.041853, -0.041875, -0.021525, -0.010595, -0.006507, -0.017154, -0.030953, -0.051729, -0.084050
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 310.0
